header.bg-gradient-to-r.border-b.border-gray-200.shadow-sm(class="from-[teal-600] to-[teal-600]")
  .max-w-7xl.mx-auto.px-4

    // BRAND
    .pt-6.pb-4.text-center
      h1.font-sans.text-4xl.font-black.tracking-tight.text-orange-600(class="md:text-6xl") Sarkari World
      p.mt-1.text-sm.text-gray-500.sr-only(class="md:text-base")
        | Latest Government Jobs, Results, Admit Cards & Updates

    //- // SEARCH
    //- .flex.justify-center.pb-5
    //-   .w-full.max-w-3xl.flex.flex-col.gap-2(class="sm:flex-row")
    //-     .relative.flex-grow
    //-       input.w-full.px-4.py-3.pr-12.border-2.border-gray-300.rounded-lg.outline-none.text-base.transition(
    //-         class="md:text-lg focus:border-teal-600 focus:ring-2 focus:ring-teal-100"
    //-         type="text"
    //-         placeholder="Search jobs, admit cards, results..."
    //-       )
    //-       // search icon
    //-       span.absolute.right-4.text-gray-400(class="top-1/2 -translate-y-1/2") 🔍

    // NAV
    nav.border-t.border-gray-300
      .flex.flex-wrap.justify-center.items-center.gap-x-5.gap-y-1.py-1
        a.nav-link.inline-block.rounded-lg.font-semibold.transition.transform.underline.text-gray-600(class="hover:scale-102 hover:text-green-600" href="/") Home
        a.nav-link.inline-block.rounded-lg.font-semibold.transition.transform.underline.text-blue-600(class="hover:scale-102 hover:text-green-600" href="/job") Job
        a.nav-link.inline-block.rounded-lg.font-semibold.transition.transform.underline.text-orange-600(class="hover:scale-102 hover:text-green-600" href="/admit-card") Admit Card
        a.nav-link.inline-block.rounded-lg.font-semibold.transition.transform.underline.text-green-600(class="hover:scale-102 hover:text-green-600" href="/result") Result
        a.nav-link.inline-block.rounded-lg.font-semibold.transition.transform.underline.text-purple-600(class="hover:scale-102 hover:text-green-600" href="/answer-key") Answer Key
        a.nav-link.inline-block.rounded-lg.font-semibold.transition.transform.underline.text-indigo-600(class="hover:scale-102 hover:text-green-600" href="/syllabus") Syllabus
        a.nav-link.inline-block.rounded-lg.font-semibold.transition.transform.underline.text-teal-600(class="hover:scale-102 hover:text-green-600" href="/admission") Admission
        a.nav-link.inline-block.rounded-lg.font-semibold.transition.transform.underline.text-red-600(class="hover:scale-102 hover:text-green-600" href="/recent-updates") Recent Updates
        a.nav-link.inline-block.rounded-lg.font-semibold.transition.transform.underline(class="hover:scale-112 hover:text-green-600" href="/contact-us") Contact Us