node_modules
generated
logs
temp*
.env
coverage.DS_Store
.vscode/
.idea/
*.swp
*.swo
*~
.env.local
.env.*.local
prisma/migrations/public/uploads/*
!public/uploads/.gitkeep
public/uploads/profile/*
!public/uploads/profile/.gitkeep
docs

temp/*
/src/generated/prisma
